
.bg-crypto {
    // background-color: #000913 !important;
    // opacity: 0.5;
    background: rgba(0,9,19,0.5)!important;
}

.fas{
	color:white;
	font-size: 24px;
}
.fa-plus{
	border: 1px solid white;
    border-radius: 100%;
    padding: 4px;
    font-size: 13px;
}





